<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>500</title>
    <link href="/static/error.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="content">
      <div class="center">
        <h1>Oh, no!</h1>
        <p>An unknown error has occurred in the application.</p>
        <p>We're trying as best we can to fix it, but for now, please contact one of the developers:</p>
        <ul>
          <li><a href="//scratch.mit.edu/users/PikachuB2005">PikachuB2005 (currently banned, please don't ping)</a></li>
          <li><a href="//scratch.mit.edu/users/--VSCoder--">--VSCoder--</a></li>
          <li><a href="//scratch.mit.edu/users/-Xenity-">-Xenity-</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>