<div class="section">
  <h2>{{name}}</h2>
  <div style="display: flex; overflow: auto;">
    {% for item in items %}
      <div style="flex: 1;">
        <a href="/{{type}}s/{{item['id']}}">
          {% if "thumbnail_url" in item %}
            <img src="{{item['thumbnail_url']}}" alt="Thumbnail" width="198" height="145" style="border: 1px solid gray">
          {% else %}
            <img src="{{item['image']}}" alt="Thumbnail" width="198" height="145" style="border: 1px solid gray">
          {% endif %}
          <br>
          <small>{{item["title"]}}</small>
        </a>
        <br>
        {% if "creator" in item %}
          <small><a href="/users/{{item['creator']}}">{{item["creator"]}}</a></small>
        {% elif "author" in item %}
          <small><a href="/users/{{item['author']['username']}}">{{item["author"]["username"]}}</a></small>
        {% elif "username" in item %}
          <small><a href="/users/{{item['username']}}">{{item["username"]}}</a></small>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>