<style>
  .comments {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: auto;
    overflow-wrap: break-word;
  }
  .comments img {
    vertical-align: text-top;
    width: 60px;
    height: 60px;
  }
  .comments span {
    overflow: hidden;
  }
  .new span {
    border: 1px solid black;
    display: block;
  }
  .reply button {
    display: inline-block;
    float: right;
  }
  img.emoji {
    width: auto;
    height: auto;
  }
</style>

<!--<div class="section new">
  <span id="new content" contenteditable></span>
  <button class="comment" onclick="comment('', '')">Comment</button>
</div>-->
<ul class="comments">
  <script async src="https://arc.io/widget.min.js#1v8fffQ8"></script>
  {% for comment in comments %}
    <li>
      <div class="comment section">
        <a href="/users/{{comment['author']['username']}}"><img src="{{comment['author']['image']}}">
        {{comment["author"]["username"]}}</a> {{comment["datetime_created"]|time}}
        <!--<button class="comment reply" onclick="comment('{{comment['id']}}', '{{comment['parent_id']}}')">Reply</button>-->
        <br>
        <span id="{{comment['id']}}">{{comment["content"]|autolink|safe}}</span>
      </div>
        <ul style="list-style: none;">
        {% for reply in comment["replies"] %}
          <li>
            <div class="comment section">
              <a href="/users/{{reply['author']['username']}}"><img src="{{reply['author']['image']}}">
              {{reply["author"]["username"]}}</a> {{comment["datetime_created"]|time}}
              <!--<button class="comment reply" onclick="comment('{{reply['id']}}', '{{reply['parent_id']}}')">Reply</button>-->
              <br>
              <span id="{{comment['id']}}">{{reply["content"]|autolink|safe}}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<script>
  function comment(id, parent_id) {
    alert(id);
    alert(parent_id);
  }
</script>