<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Scratch+ Loading</title>
    <script async src="https://arc.io/widget.min.js#1v8fffQ8"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet" type="text/css" />
    <script>
    </script>
  </head>
  <body>
    <img src="{{url_for('static', filename = 'images/loading.svg')}}" style="vertical-align: middle; flex: 1">
    <h1>
      Loading <span id="url"></span>
    </h1>
    <script>
      document.getElementById("url").innerHTML = window.location;
    </script>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <script>
      url = new URL(window.location);
      url.searchParams.set("loaded", "true");
      window.location.href = url;
    </script>
  </body>
</html>