<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Scratch+ Forum posts</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <style>
      p {
        background: #dedede;
        border: 1px solid black;
        border-radius: 3px;
      }
      div {
        padding: 10px;
      }
      .scrollable-element {
        scrollbar-width: none;
      }
      #more {
        display: none;
      }
      button {
        padding: 5px;
      }
      .more {
        display: none;
      }
    </style>
  </head>
  <body>
    <script>
      function show(id) {
        var dots = document.getElementById("dots" + String(id));
        var moreText = document.getElementById("more" + String(id));
        var btnText = document.getElementById("myBtn" + String(id));

        if (dots.style.display === "none") {
          dots.style.display = "inline";
          btnText.innerHTML = "Show more";
          moreText.style.display = "none";
        } else {
          dots.style.display = "none";
          btnText.innerHTML = "Show less";
          moreText.style.display = "inline";
        }
      }
    </script>
    {% include 'navbar.html' %}
    <br>
    {% for post in posts %}
      <div class="section">
        <a href="https://scratch.mit.edu/discuss/post/{{post['id']}}">{{post["category"]}}: {{post["title"]}}</a>
        <p class="content">
          {% if post["content"]|length < 150  %}
            {{post["content"]}}
          {% else %}
            {{post["content"][:190]}}<span style="display: inline;" id="dots{{loop.index}}">...</span><span class="more" id="more{{loop.index}}">{{post["content"][190:]}}</span>
            <br>
            <button onclick="show({{loop.index}})" id="myBtn{{loop.index}}">Show more</button>
          {% endif %}
        </p>
        <small>{{post["time"]}}</small>
      </div>
      <br>
    {% endfor %}
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
  </body>
</html>