<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Scratch+ Search</title>
    <script async src="https://arc.io/widget.min.js#1v8fffQ8"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet" type="text/css" />
    <style>
      ul.projects li img {
        height: 170px;
        width: 228px;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="tab">
      <button id="Default" class="tablinks" onclick="openTab(event, 'Projects', 'block')">Projects</button>
      <button class="tablinks" onclick="openTab(event, 'Studios', 'block')">Studios</button>
      <button class="tablinks" onclick="openTab(event, 'Forum', 'block')">Forum</button>
      {% if "username" in user %}
        {% set user = user["username"] %}
        <button onclick="window.location.href = '/users/{{user}}'">Profile</button>
      {% endif %}
    </div>
    <div id="Projects" class="tabcontent">
      <h2>Projects</h2>
      <div class="section">
        <ul class="projects">
          {% for project in projects %}
          <li>
            <a href="/projects/{{project['id']}}">
              <img src="{{project['image']}}">
              <br>
              <small>{{project["title"][:25]}}</small>
            </a>
            <br>
            <small><a href="/users/{{project['author']['username']}}">{{project["author"]["username"]}}</a></small>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="Studios" class="tabcontent">
      <h2>Studios</h2>
      <div class="section">
        <ul class="projects">
          {% for studio in studios %}
          <li>
            <a href="/studios/{{studio['id']}}">
              <img src="{{studio['image']}}">
              <br>
              <small>{{studio["title"][:25]}}</small>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="Forum" class="tabcontent" class="section">
      <h2>Forum</h2>
      <ul style="list-style-type: none; padding-left: 0;">
        {% set categories = {"Announcements": 5, "New Scratchers": 6, "Help with Scripts": 7, "Show and Tell": 8, "Project Ideas": 9, "Collaberation": 10, "Requests": 11, "Questions about Scratch": 4, "Suggestions": 1, "Bugs and Glitches": 3, "Advanced Topics": 31, "Connecting to the Physical World": 32, "Developing Scratch Extensions": 48, "Open Source Projects": 49, "Things I'm Making and Creating": 29, "Things I'm Reading and Playing": 30} %}
        {% for post in posts %}
          <li>
            <div class="section post">
              <a href="/discuss/{{categories[post['topic']['category']]}}">{{post["topic"]["category"]}}</a>: <a href="/discuss/post/{{post['id']}}">{{post["topic"]["title"]}}</a> by {{post["username"]}}
              <hr>
              {{post["content"]["html"]|safe}}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <script>
      document.getElementById("Default").click();
    </script>
  </body>
</html>